<div class="min-h-screen bg-gray-100">

  <nav *ngIf="auth.isLoggedIn()"
       class="bg-white shadow px-6 py-4 flex justify-between items-center">

    <h1 class="text-xl font-bold text-gray-800">
      🍽️ AI Restaurant Dashboard
    </h1>

    <div class="space-x-6">
      <a routerLink="/" class="hover:text-blue-600">Dashboard</a>
      <a routerLink="/menu" class="hover:text-blue-600">Menu</a>
      <a routerLink="/orders" class="hover:text-blue-600">Orders</a>

    <a *ngIf="auth.getRole() === 'Manager'"
      routerLink="/create-order"
      class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">
      + Order
    </a>

    <button (click)="confirmLogout()"
            class="text-red-500 font-semibold">
      Logout
    </button>
    </div>

  </nav>

  <div class="p-0">
    <router-outlet></router-outlet>
  </div>

</div>