<div class="min-h-screen bg-gray-100">
  <nav
    *ngIf="auth.isLoggedIn()"
    class="bg-white shadow px-6 py-4 flex justify-between items-center"
  >
    <h1 class="text-xl font-bold text-gray-800">AI Restaurant Dashboard</h1>

    <div class="flex items-center gap-6">
      <a
        routerLink="/"
        routerLinkActive="text-blue-600 border-b-2 border-blue-600"
        [routerLinkActiveOptions]="{ exact: true }"
        class="hover:text-blue-600 pb-1"
      >
        Dashboard
      </a>

      <a
        routerLink="/menu"
        routerLinkActive="text-blue-600 border-b-2 border-blue-600"
        class="hover:text-blue-600 pb-1"
      >
        Menu
      </a>

      <a
        routerLink="/orders"
        routerLinkActive="text-blue-600 border-b-2 border-blue-600"
        class="hover:text-blue-600 pb-1"
      >
        Orders
      </a>

      <a
        routerLink="/menu-insights"
        routerLinkActive="text-blue-600 border-b-2 border-blue-600"
        class="hover:text-blue-600 pb-1"
      >
        Menu Insights
      </a>

      <a
        routerLink="/price-intelligence"
        routerLinkActive="text-blue-600 border-b-2 border-blue-600"
        class="hover:text-blue-600 pb-1"
      >
        Price Intelligence
      </a>
      <a
        routerLink="/calendar"
        routerLinkActive="text-blue-600 border-b-2 border-blue-600"
        class="hover:text-blue-600 pb-1"
      >
        Calendar
      </a>


      <a
        *ngIf="auth.getRole() === 'Manager'"
        routerLink="/create-order"
        class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600"
      >
        + Order
      </a>

      <div class="relative" (click)="$event.stopPropagation()">
        <div
          class="cursor-pointer"
          (click)="toggleProfileMenu(); $event.stopPropagation()"
        >
          <ng-container *ngIf="role?.toLowerCase() === 'admin'; else managerAnimation">
            <ng-lottie [options]="{ path: '/assets/admin.json' }" width="80px" height="80px">
            </ng-lottie>
          </ng-container>

          <ng-template #managerAnimation>
            <ng-lottie [options]="{ path: '/assets/manager.json' }" width="80px" height="80px">
            </ng-lottie>
          </ng-template>
        </div>

        <div
          *ngIf="showProfileMenu"
          class="absolute right-0 mt-2 w-48 bg-white border rounded-xl shadow-lg z-50"
        >
          <div class="px-4 py-3 border-b">
            <p class="font-semibold">{{ role }}</p>
          </div>

          <button
            (click)="confirmLogout()"
            class="w-full text-left px-4 py-3 text-red-500 hover:bg-gray-100"
          >
            Logout
          </button>
        </div>
      </div>
    </div>
  </nav>

  <div class="p-0">
    <router-outlet></router-outlet>
  </div>
</div>
